/build
/.dart_tool
build/cache.dill.track.dill
build/ios/Debug-iphoneos/.last_build_id
build/ios/Debug-iphoneos/App.framework/App
build/ios/Debug-iphoneos/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphoneos/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphoneos/Flutter.framework/Flutter
build/ios/Debug-iphoneos/Runner.app/__preview.dylib
build/ios/Debug-iphoneos/Runner.app/Runner
build/ios/Debug-iphoneos/Runner.app/Runner.debug.dylib
build/ios/Debug-iphoneos/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphoneos/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphoneos/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphoneos/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/Debug-iphoneos/Runner.swiftmodule/arm64-apple-ios.swiftmodule
build/ios/Debug-iphoneos/Runner.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
build/ios/iphoneos/Runner.app/__preview.dylib
build/ios/iphoneos/Runner.app/Runner
build/ios/iphoneos/Runner.app/Runner.debug.dylib
build/ios/iphoneos/Runner.app/_CodeSignature/CodeResources
build/ios/iphoneos/Runner.app/Frameworks/App.framework/App
build/ios/iphoneos/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Flutter
